/* top header */
header{
    height: auto;
}
.top-header.block {
    padding: 10px 12px;
    background: #eb1933;
}

.top-header.block > div {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.top-header.block > div ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-header.block > div ul li {
    color: #fff;
    font-size: 15px;
    padding-right: 15px;
}

.top-header.block > div ul li:last-child {
    padding-right: 0;
}